@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;

}

body {
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.767);
  align-items: center;
  display: flex;
  height: 8vw;
  width: 100vw;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 2vw;
}

.navbar .logo img {
  width: 10vw;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin-right: 5vw;
  font-family: "Poppins", sans-serif;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 0.9vw;
  transition: all 0.3s ease;
  display: inline-block;
}

.navbar .nav-links a:hover {
  transform: scale(1.1);
  color: #0acbe3;
}

.navbar .nav-links .btn {
  color: white;
  text-decoration: none;
  font-size: 0.9vw;
  border: 0.1vw solid;
  border-radius: 0.2vw;
  padding: 0.2vw;
  width: 4.2vw;
  text-align: center;
  transition: all 0.3s ease;
  display: inline-block;
}

.navbar .nav-links .btn:hover {
  background: linear-gradient(135deg, #6a00f4, #00c3ff);
  transform: scale(1.1);
  color: aqua;
}

.banner1 {
  background-size: cover;
  width: 100vw;
  height: 55vw;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Epilogue";
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, 0.68) 0%,
      rgba(0, 0, 0, 0.68) 35%,
      rgba(0, 0, 0, 0.68) 100%),
    url(../imgs/banner-sobrenos.png);
}

.banner1 h1 {
  color: rgba(10, 203, 227, 1);
  font-size: 3vw;
  margin-left: 5vw;
  margin-top: 35vw;
}

.banner1 h2 {
  color: white;
  font-weight: normal;
  font-size: 1.8vw;
  margin-left: 5vw;
}

.banner1 .btn-saiba {
  text-decoration: none;
  color: white;
  border: 0.1vw solid;
  width: 10vw;
  padding: 0.35vw;
  text-align: center;
  border-radius: 0.2vw;
  margin-left: 5vw;
  font-size: 1.5vw;
}

.banner2 {
  width: 100vw;
  height: 60vw;
  display: flex;
  font-family: "Epilogue";
  background-color: rgba(9, 41, 66, 1);
  box-shadow: 0 0 4vw black;
  justify-content: space-between;
  align-items: center;
}

.banner2 .card h1 {
  color: rgba(10, 203, 227, 1);
  font-family: "Fragment Mono", monospace;
  font-weight: normal;
  font-size: 4vw;
  margin-left: 3vw;
  margin-bottom: 2.5vw;
}

.banner2 .card {
  width: 55vw;
  align-items: center;
  margin-left: 5vw;
  margin-bottom: 6vw;
}

.banner2 .card p {
  color: white;
  font-weight: normal;
  font-size: 1.5vw;
  background-color: rgb(7, 25, 39);
  padding: 2vw;
  border-radius: 2vw;
  font-family: "Poppins", sans-serif;
  box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.4);
}

.nossa-historia-wrapper {
  position: relative;
  width: 35vw;
  height: auto;
  padding-right: 2%;
}

.nossa-historia-wrapper .nossa-historia {
  position: relative;
  width: 100%;
  z-index: 1;
}

.banner3 {
  width: 100vw;
  background-color: rgba(9, 41, 66, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 0;
  gap: 3vw;
}

.banner3 h1 {
  font-size: 3vw;
  color: rgba(10, 203, 227, 1);
  font-family: "Fragment Mono", monospace;
  font-weight: normal;
}

.banner3 .conju-card {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 80vw;
  counter-reset: valor-counter;
}

.banner3 .conju-card .card {
  background-color: rgb(7, 25, 39);
  border-radius: 0.5vw;
  padding: 2vw;
  box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  position: relative;
  counter-increment: valor-counter;
  transition: all 0.3s ease;
  display: inline-block;
}

.banner3 .conju-card .card:hover {
  transform: scale(1.05);
}

.banner3 .conju-card .card .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner3 .conju-card .card .texto h1 {
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
  color: rgba(10, 203, 227, 1);
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.banner3 .conju-card .card .texto p {
  font-size: 1.2vw;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
}

.banner4 {
  background-size: cover;
  width: 100vw;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Epilogue";
  background-color: rgb(7, 25, 39);
}

.banner4 h1 {
  font-family: "Epilogue", sans-serif;
  color: rgba(10, 203, 227, 1);
  width: 50vw;
  font-weight: normal;
  font-size: 3vw;
  margin-bottom: 5vw;
  text-align: center;
}

.banner4 .text1 {
  justify-content: center;
  display: flex;
  margin-top: 5vw;
  flex-direction: column;
  align-items: center;
}

.banner4 .text1 img {
  max-width: 90vw;
  height: auto;
  object-fit: contain;
}

.footer {
  background-color: black;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

.footer img {
  width: 18vw;
}

.footer-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  height: 10vw;
}

.footer .footer-contact img {
  width: 1.5vw;
}

.footer .footer-container .footer-contact {
  gap: 1vw;
  display: flex;
  flex-direction: column;
}

.footer-container .footer-filho {
  display: flex;
  color: white;
  gap: 1vw;
}

.footer .footer-container .footer-links {
  gap: 1vw;
  display: flex;
  flex-direction: column;
}


/* CSS do Carrossel */

.slider {
  width: 99vw;
  height: 85vh;
  overflow: hidden;
  position: relative;
  border-top: solid aqua;
  border-bottom: solid aqua;

  /* box-shadow: 20px 20px 30px black; */
}

.slides {
  width: 400%;
  height: 639px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide-conteudo {
  display: flex;
  width: 100%;
  height: 100%;
}

.textoEsquerda {
  width: 60%;
  height: 639px;
  object-fit: cover;
  background-color: rgb(7, 25, 39);
  color: rgba(10, 203, 227, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-direita {
  width: 40%;
  height: 100vh;
  object-fit: cover;
}

.manual-navigation {
  position: absolute;
  width: 99vw;
  left: 0;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid aqua;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: aqua;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid aqua;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 99vw;
  left: 0;
  margin-top: 599px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: aqua;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: aqua;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: aqua;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: aqua;
}