@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 2vh 5%;
    color: white;
    position: relative;
    height: 6vh;
    font-family: "Poppins", sans-serif;
}

.nav .logo img {
    height: 3.5vh;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3%;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.8vh;
    cursor: pointer;
}

.hamburger div {
    width: 5vw;
    height: 0.8vh;
    background: white;
    border-radius: 0.2vh;
}

@media (max-width: 450px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: black;
        padding: 0;
        margin: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 1.5vh 0;
        border: 0.05vh solid rgba(255, 255, 255, 0.068);
    }

    .nav-links.show button {
        color: rgba(10, 203, 227, 1);
        border: rgba(10, 203, 227, 1) solid 0.2vh;
        border-radius: 0.7vh;
        background-color: transparent;
        padding: 0.8vh;
        width: 9vh;
    }

    .banner1 {
        background-size: cover;
        width: 100vw;
        height: 90vh;
        background-position: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5vh;
        font-family: "Epilogue", sans-serif;
        align-items: flex-start;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.680) 0%, rgba(0, 0, 0, 0.680) 35%, rgba(0, 0, 0, 0.680) 100%), url(../imgs/banner-home.png);
    }

    .banner1 h1 {
        color: rgba(10, 203, 227, 1);
        font-size: 5vh;
        margin-bottom: 0;
        margin-top: 65vh;
    }

    .banner1 h2 {
        color: white;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }

    .banner1 a {
        text-decoration: none;
        color: white;
        border: white solid 0.2vh;
        padding: 1vh;
        width: 25%;
        text-align: center;
    }

    .banner2 {
        background-color: rgba(9, 41, 66, 1);
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner2 .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .banner2 .card h1 {
        padding-top: 5vh;
        margin-top: 0;
        color: rgba(10, 203, 227, 1);
        text-align: center;
        font-family: "Fragment Mono", monospace;
        font-weight: normal;
        margin-bottom: 0;
    }

    .banner2 .card p {
        color: white;
        text-align: left;
        background-color: rgba(3, 14, 23, 1);
        box-shadow: 0 0.5vh 0.1vh black;
        padding: 2vh;
        width: 80%;
        font-size: 2vh;
        border-radius: 2vh;
        font-family: "Poppins", sans-serif;
    }

    .banner2 img {
        display: none;
    }

    .banner3 {
        background-color: rgba(9, 41, 66, 1);
        height: 130vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .banner3 h1 {
        padding-top: 5vh;
        margin-top: 0;
        color: rgba(10, 203, 227, 1);
        text-align: center;
        font-family: "Fragment Mono", monospace;
        font-weight: normal;
        margin-bottom: 0;
    }

    .banner3 .card img {
        width: 100%;
        border-radius: 2vh;
    }

    .banner3 .card {
        background-color: black;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        border-radius: 2vh;
        margin-top: 2.5vh;
    }

    .banner3 .card h1 {
        color: white;
        font-size: 2.5vh;
        margin-top: 0;
        padding-top: 1vh;
        font-family: "Poppins", sans-serif;
    }

    .banner3 .card .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner3 .card p {
        color: white;
        text-align: center;
        width: 90%;
        font-family: "Poppins", sans-serif;
        font-size: 2vh;
    }

    .banner4 {
        background-size: cover;
        width: 100vw;
        height: 80vh;
        background-position: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 5vh;
        gap: 10vh;
        font-family: "Epilogue", sans-serif;
        align-items: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.680) 0%, rgba(0, 0, 0, 0.680) 35%, rgba(0, 0, 0, 0.680) 100%), url(../imgs/bannerfooter.webp);
    }

    .banner4 .text1 h1 {
        font-family: "Epilogue", sans-serif;
        color: white;
        margin-top: 15vh;
        font-size: 3vh;
    }

    .banner4 .text2 h1 {
        font-family: "Epilogue", sans-serif;
        color: white;
        font-size: 3vh;
    }

    .footer {
        display: flex;
        align-items: center;
        background-color: black;
        justify-content: space-around;
        height: 20vh;
    }

    .footer .info img {
        height: 3vh;
    }

    .footer .info .info-pai {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer .info .info-pai p {
        color: white;
        font-family: "Epilogue", sans-serif;
    }

    .footer .info p {
        color: white;
    }

    .footer .info-filho p {
        font-family: "Epilogue", sans-serif;
        color: white;
        text-align: center;
    }
}